body{
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
}

.round{
    border-radius: 5px;   
}

.bg-blue{
    background-color: #185ADB;
}

.bg-white{
    background-color: white;
}

.padding-15{
    padding: 15px;
}

#sidebar{
    background-color: black;
}

#mainArea{
    height: 100vh;
    overflow: auto;
}

#sidebar ul{
    height: 100vh;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0 10%;
}

#sidebar li{
    padding: 10px;
    margin-bottom: 15px;
    font-weight: 400 !important;
    border-radius: 5px;
}

#sidebar li:first-child{
    padding: 60px 10px;
    font-weight: 600 !important;
}

#sidebar li:first-child:hover{
    background-color: transparent;
}

#sidebar a{
    color: white;
    text-decoration: none;
    padding: 7px 0px;
}

#sidebar li:hover{
    background-color: rgb(71, 67, 67, 0.5);
    color: white;
}

#sidebar img{
    height: 18px;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

#filterbar{
    height: 85px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 15px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: relative;
}

#filterbar .form-group{
    display: flex;
    align-items: center;
    margin: 0;
}

#filterbar span {
    margin: 0 15px;
}

.main{
    background-color: white;
    margin-top: 20px;
    padding: 25px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.table th{
    color: #4E5868;
    font-size: 16px;
    font-weight: normal;
}

.table td{
    color: #0A1931;
    font-weight: normal;
    font-size: 16px;
    vertical-align: middle;
}

.header{
    font-weight: bold;
    font-size: 28px;
    color: #0A1931;
}

.tableHeader{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
    columns: black;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: gray;
}

.green{
    color: #00C064 !important;
    font-weight: 600 !important;
}

.right{
    position: absolute;
    right: 25px;
}

.page-link{
    border: none;
    font-weight: 500;
    border-radius: 3px;
    color: #4A5568;
    margin: 0 5px;
    padding: 10px 15px;
}

.activePage{
    background-color: #185ADB;
    color: white;
}

.active{
    background-color: #185ADB !important;
    color: white;
}

/*----------------------------------------------------------------------------*/

.small-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.port-profile{
    color: white;
    padding: 15px;
}

.port-profile h4{
    margin-top: 8px;
}

.trade-card{
    padding: 15px;
    border: 1px solid #B3B8CD;
    border-radius: 10px;
    width: 48%;
    margin-top: 10px;
}

.trade-card h6{
    color: #706D6E;
    font-size: 13px;
}

.trade-card h5{
    color: #4E5868;
    font-size: 14px;
    font-weight: normal;
}

.trade-card h4{
    color: #0A1931;
    font-size: 16px;
    font-weight: 600;
}

.flex-container{
    display: flex; 
    justify-content: space-between; 
    flex-flow: wrap;
}

.timeline{
    display: flex; 
    justify-content: space-around; 
    margin-top: 5px;
}

.timeline h6{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.chart{
    height: 300px; 
    width: 100%; 
    background-image: url("./img/data\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}